body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 10%;
    width: 1200px
   
    
}

.menu {
    display: grid;
    grid-template-columns: 60% 1fr 1fr 1fr auto;
    align-items: center;
    padding-bottom: 5px;
}

.bannerimg {

    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.text {
    color: white;
    position: absolute;
    transform: translateX(-50%);
    top: 10px;
    left: 50%;
    text-align: center;
}

.banner {
    position: relative;
    display: inline-block;
   
}

.image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 10px;
    gap: 10px;
    
}
.image div img {
    width: 100%;
    border-radius: 10px;
    
}
.footer {
    display: grid;
    grid-template-columns: 66.66% 33.33%;
}

.footer div {
    padding: 10px;
}
